*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.select{
    position: relative;
    display: flex;
    height: 100vh;
    background-color: rgb(245, 244, 248);
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main-container{
    height: 100vh;
    background-color: rgb(245, 244, 248);
    text-align: center;
}

h1{
    padding-top: 80px;
    font-size: 50px;
    font-family: helvetica;
    color: rgb(148, 77, 255);

}

.box{
    height: 100px;
    width: 100px;
    background-color: rgb(247, 243, 247);
    transition-duration: 0.6s;
    text-align: center;
}

.box:hover{
    background-color: rgb(255, 255, 255);
    width: 150px;
    box-shadow: 10px 10px 0px 0px rgb(148, 77, 255);
}

.box img{
    height: 80px;
    width: 80px;
    padding-top: 20px;
    filter: invert(42%) sepia(59%) saturate(6339%) hue-rotate(248deg) brightness(102%) contrast(101%);
}